i {
    font-size:30px;
}
h1 {
    font-size: 50px;
    color: deeppink;
}
body  {
   
    background-image:url("https://wallpapercave.com/wp/wp2686961.png")

}
p {
    font-size:30px ;
    color: chartreuse;
}
button {
    background-color: gold;
    border-radius: 40%;
}
.test {
    padding: 24px; 
    text-align:end ;
}
#img {
    align-items: left;
}